<table class="table table-strip">    
    <tr class="bg-dark text-white">
        <td>ID</td>
        <td>User Name</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Age</td>
        <td>Salary</td>
        <td>Action</td>
    </tr>    
    <tr *ngFor="let user of users">
        <td>{{user.id}}</td>
        <td>{{user.username}}</td>
        <td>{{user.first_name}}</td>
        <td>{{user.last_name}}</td>
        <td>{{user.age}}</td>
        <td>{{user.salary}}</td>
        <td>
            <button class="btn btn-success" (click)=editUser(user)>Edit</button> /
            <button class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
        </td>
    </tr>    
    <tr>
        <td colspan="7">
            <button class="btn btn-success" [routerLink]="['/add']">Add user</button>
        </td>
        <!--
            <button class="btn btn-success" routerLinkActive="active" routerLink="/add">Add user</button>           
            <td><button class="btn btn-success" (click)=goToAddUser()>Add User</button></td>
            <td><button class="btn btn-success" (click)=goToEditUser()>Add User</button></td>
        -->
    </tr>
</table>